.provider_day{
    font-family: Arial;
    font-size: 9px;//11px;
    float: left;
}
.chart{
    float: left;
    width: 415px;
    padding-left: 40px;
    padding-top: 20px;
}
.encounter_period{
    font-family: Arial;
    font-size: 11px;
    float: left;
}
.encounter_day{
    font-family: Arial;
    font-size: 11px;
    float: left;
    padding-left: 10px;
}
.provider_worked_days{
    font-family: Arial;
    font-size: 11px;
    float: left;
    padding-left: 10px;
    padding-top: 9px;
}
.pane1{
    float: left;
    width: 100%
}
.pane2{
    padding-top: 20px;
    clear: left;
}
.type{
    background: white;
}

.provadj_days{
    font-family: Arial;
    font-size: 13px;
    display: table;
    margin: 0 auto;
    padding-top: 100px;
}
