.pane1{
    width: 100%;
    display: inline-block;
}
.provider_day{
    font-family: Arial;
    font-size: 9px;
    float: left;
}
.chart{
    width: 415px;
    float: left;
}
.pane2{
}
.container{
    display: table;
    margin: auto;
}
.inner{
    display: inline;
}
.inner>div{
    margin: 10px;
}
.encounter_period{
    font-family: Arial;
    font-size: 11px;
    float: left;
}
.encounter_day{
    font-family: Arial;
    font-size: 11px;
    float: left;
}
.provider_worked_days{
    font-family: Arial;
    font-size: 11px;
    float: left;
}
