.pane1{
    float: left;
    width: 50%;
    height: 715px;
}
.provider_day{
    font-size: 8px;
    display: table;
    margin: auto;
    padding-top: 20px;
}
.pane2{
    font-size: 5px;
    float: left;
    width: 50%;
}
.chart{
    width: 425px;
    padding: 0 auto;
    display: table;
    margin: auto;
}
.container{
    display: table;
    margin: auto;
}
.inner{
    display: inline;
}
.encounter_day{
    font-size: 8.4px;
    float: left;
}
.provider_worked_days{
    font-size: 6.5px;
    float: left;
    padding-left: 5px;
}
.encounter_period{
    display: table;
    margin: auto;
    font-size: 9px;
    padding-top: 5px;
}
