html{
    border: solid black 1px;
    width: 100%;
    height: 100%;
}
@page{
    size: letter landscape;
    margin: 0.75cm;
    padding: 0;
}
table{
    border-collapse: collapse;
    border: solid black 1px;
}
thead th{
    text-align: center;
    border-bottom: solid black 1px;
}
td{
    text-align: center;
}
tbody th {
    text-align: right;
}
tr{
    border: solid black 1px;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
